stages:
  - deploy

deploy:
  stage: deploy
  image: alpine
  before_script:
    - apk add --no-cache lftp
  script:
    - lftp -c "
      set ftp:ssl-allow no;
      open -u $FTP_USER,$FTP_PASS $FTP_HOST;
      mirror -R --delete ./ $FTP_PATH;
      "
  only:
    - main
